! URxvt and (provisional) rofi config
!
! Nord colour scheme in use, courtesy of arcticicestudio prefaced below
!
! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
XTerm*faceName: Inconsolata Nerd Font:Regular
XTerm*faceSize: 12
XTerm*geometry: 80x25

URxvt.iconName:          urxvt
URxvt.iconFile:          /usr/share/icons/Papirus-Dark/48x48/apps/urxvt.svg
URxvt.internalBorder:    16
!URxvt.externalBorder:   12
URxvt.lineSpace:         1
!URxvt*shading:          30
URxvt.depth:             16
URxvt.saveLines:         10000
URxvt*geometry:          80x25
URxvt*terminalName:      rxvt-unicode-256color
URxvt*visualBell:        false

!! Scrollbar
URxvt.scrollStyle:       xterm
URxvt.scrollBar:         false
URxvt.scrollBar_floating:false
URxvt.scrollBar_right:   true
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt*transparent: 	 false
URxvt*shading: 		 40

URxvt*font:              xft:Inconsolata Nerd Font:size=12:minspace=False


URxvt.tabbed.tabbar-bg:  -1
URxvt.tabbed.tabbar-fg:  -2
URxvt.tabbed.tab-bg:     -2
URxvt.tabbed.tab-fg:     -1
URxvt.tabbed.title-bg:   -1
URxvt.tabbed.title-fg:   -2
URxvt.tabbed.autohide:   true
URxvt.tabbed.new-button: false
URxvt.tabbed.title:      true

!! Disable the stupid ctrl+shift 'feature'
URxvt.iso14755:            false
URxvt.iso14755_52:         false

!! Cursor
URxvt.cursorBlink:         1
URxvt.colorUL:             #83a598
Xcursor.theme:             La Captaine

!! Pointer
!URxvt.pointerBlank: true

rofi.color-enabled: true
rofi.color-window: argb:aa1c1d21, #751c1d21, argb:001c1d21
rofi.color-normal: argb:001c1d21, #cbcdd2, argb:001c1d21, argb:c2d6d8db, #222222
rofi.color-active: argb:4d1b2b34, #6699cc, argb:4d343d46, argb:4d6699cc, #d8dee9
rofi.color-urgent: argb:4d1b2b34, #ec5f67, argb:4d343d46, argb:4dec5f67, #d8dee9

rofi.modi: run
rofi.separator-style: solid
rofi.show-icons: true
rofi.drun-icon-theme: Papirus-Dark
rofi.font: SFNS Display 11
rofi.sidebar-mode:    true
rofi.padding:         0
rofi.bw:              10
rofi.scrollbar-width: 0
rofi.line-margin:     0
rofi.lines: 10
rofi.terminal: urxvt
rofi.case-sensitive: false
